@media (min-width: 0px) and (max-width: 600px ) {

    .branches-details .slick-list.draggable {
        padding: 0 !important;
    }

    .careers .hero {
        background: unset;
        background-color: #552988;
        height: 30vh
    }

    .contact-hero h3.title {
        top: 10vh;
    }

    .contact-hero {
        height: 30vh;
    }

    .branches-details .slick-slider {
        padding-left: 0px !important;
    }

    .branches .for-arrow a.arrow {
        margin-top: -20px;
    }
    /*.landing-logo {
        width: 105% !important;
        margin: auto !important;
    }*/
    img.object-cover {
        height: 440px !important;
    }

    .col-md-offset-3 {
        margin-left:0!important;
    }

    section.csr .csr-slider img, section.qc .qc-slider img {
        padding-right: 0 !important;
    }

    .div-tbl {
        width: 100% !important;
    }

    .product-details.left .options, .x .options {
        left: 0px;
    }

    table {
        width:100%;
    }

    .product-details.right .options, .x .options {
        right: 15px;
    }

    .custom-file-input {
        width:100%;
    }

    .product-details.left .row.m-b-100 {
        display: flex;
        flex-direction: column-reverse;
    }

    .product-details span.color {
        display: none;
    }

    .product-details .slick-slide img {
        width: 300px;
    }
    /*.slick-slide.slick-current.slick-center
    {
        width:100%!important;
    }*/
    .product-details.right .tbl-posi {
        margin-top: 120px;
        width: 100%;
    }
    .product-details.left .tbl-posi {
        margin-top: 120px;
        width: 100%;
    }
    .slick-slider {
        height: 300px;
    }
    .singleone {
        width:100%!important;
    }

    .product-details .h-500
    {
        height:300px;
    }

    #imgshow {
        width: 100%;
    }

    #yearspng {
        width: 100%!important;
    }

    .product-details.right .product-title {
        padding-left: 50px;
        margin-left: 0px;
        width: 100%;
    }

    .product-details.left .product-title {
        padding-left: 50px;
        margin-right: 0px;
        width: 100%;
    }

    .navbar-right {
        margin-right: 0px;
    }

    .carousel-indicators {
        bottom: 0;
        right: 10%;
        left: unset;
    }

    #header-holder.main-header .header-graphic {
        margin-bottom: 150px;
        margin-top: 30px;
        width: 80%;
    }

    .item .carousel-caption {
        text-align: center;
    }

    img.wow.slideInUp {
        width: 60%;
        height: auto;
    }

    #h-info .info-text {
        padding-left: unset;
        padding-right: unset;
    }

    .ceo .quote {
        position: relative;
        transform: unset;
    }

    .ceo {
        margin-bottom: 0;
    }

    .products ul.nav {
        display: grid;
    }

    .products ul.nav {
        margin-top: 0;
    }

    .content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .product-details.right .content {
        padding: 0;
    }

    .product-details.left .content {
        padding: 0;
        margin-bottom:50px;
    }

    .product-details.right .nylon-slider .slick-list {
        padding: 0 !important;
    }

    .product-details.left .slider .slick-list {
        padding: 0 !important;
    }

    .background-right {
        width: 100%;
        background: rgb(231, 228, 213);
    }

    .background-left {
        width: 100%;
        background: rgb(231, 228, 213);
    }

    /*.product-details .slick-slide img {
        width: 60%;
        padding: 20px;
    }*/

    .product-details.left .content {
        text-align: center;
    }

    .product-details.left .name, .x.left .name {
        text-align: left;
        margin: auto;
        width: auto;
       
    }

    .product-details.left .type {
        text-align: center;
    }

    .product-details.right .content {
        text-align: center;
    }

    .product-details.right .name, .x.right .name {
        text-align: left;
        margin: auto;
        width: auto;

    }

    .product-details.right .type {
        text-align: center;
    }

    .product-details .arrows, .x .arrows {
        width: 150px;
        margin: auto;
    }

    .product-details .slider .slick-slide {
        text-align: center;
    }

    .m-b-100 {
        margin-bottom: 30px !important;
    }
    .contact-page-section .info {
        width: 100%;
        left: 0px;
        padding: 30px;
        position: relative;
    }
    .contact-page-section #google-map {
        margin-bottom: 65px;
    }
    .contact-page-section {
        height: auto;
    }
    img.arrow.animated-arrow {
        display:none;
    }
    .slide-size {
        text-align:center;
    }
    .one-img {
        float: unset!important;
        margin-right: unset!important;
    }

  
}

@media (min-width: 601px) and (max-width: 768px ) {

    .div-tbl {
        width: 100% !important;
    }

    .contact-hero h3.title {
        top: 10vh;
    }

    .contact-hero {
        height: 30vh;
    }
    .col-md-offset-3 {
        margin-left: 0 !important;
    }

    .product-details.left .options, .x .options {
        left: 0px;
    }
    .product-details.right .options, .x .options {
        right: 15px;
    }
    .product-details.right .product-title {
/*        padding-left: 60px;*/
    }

    .landing-logo {
        width: 60%!important;
        margin:auto!important;
    }

    .branches-details .slick-list.draggable {
        padding: 0 !important;
    }

    .branches-details .slick-slider {
        padding-left: 0px !important;
    }

    img.object-cover {
        height: 440px !important;
    }

    section.csr .csr-slider img, section.qc .qc-slider img {
        padding-right: 0 !important;
    }



    .navbar-right {
        margin-right: 0px;
    }

    .carousel-indicators {
        bottom: 0;
        right: 10%;
        left: unset;
    }

    .product-details.left .row.m-b-100 {
        display: flex;
        flex-direction: column-reverse;
    }

    #header-holder.main-header .header-graphic {
        margin-bottom: 150px;
        margin-top: 30px;
        width: 80%;
    }

    .item .carousel-caption {
        text-align: center;
    }

    #h-info .info-text {
        padding-left: unset;
        padding-right: unset;
    }

    .ceo .quote {
        position: relative;
        transform: unset;
    }

    .ceo {
        margin-bottom: 0;
    }

    .products ul.nav {
        display: grid;
    }

    .products ul.nav {
        margin-top: 0;
    }

    .content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .product-details.right .content {
        padding: 0;
    }

    .product-details.left .content {
        padding: 0;
        margin-bottom: 50px;
    }

    .product-details.right .nylon-slider .slick-list {
        padding: 0 !important;
    }

    .product-details.left .slider .slick-list {
        padding: 0 !important;
    }

    .background-right {
        width: 100%;
        background: rgb(231, 228, 213);
    }

    .background-left {
        width: 100%;
        background: rgb(231, 228, 213);
    }

    /*.product-details .slick-slide img {
        width: 60%;
        padding: 20px;
    }*/

    .product-details.left .content {
        text-align: center;
    }

    .product-details.left .name, .x.left .name {
        text-align: left;
        margin: auto;
        width:auto;
    }

    .product-details.left .type {
        text-align: center;
    }

    .product-details.right .content {
        text-align: center;
    }

    .product-details.right .name, .x.right .name {
        text-align: left;
        margin: auto;
        width: auto;
    }

    .product-details.right .type {
        text-align: center;
    }

    .product-details .arrows, .x .arrows {
        width: 150px;
        margin: auto;
    }

    .product-details .slider .slick-slide {
        text-align: center;
    }

    .m-b-100 {
        margin-bottom: 30px !important;
    }

    .contact-page-section .info {
        width: 100%;
        left: 0px;
        padding: 30px;
        position: relative;
    }
    .contact-page-section #google-map {
        margin-bottom: 65px;
    }
    .contact-page-section {
        height: auto;
    }
    img.arrow.animated-arrow {
        display: none;
    }

    .slide-size {
        text-align: center;
    }

    .one-img {
        float: unset !important;
        margin-right: unset !important;
    }

}


@media (min-width: 767px) and (max-width: 991px) {

    .product-details.left .row.m-b-100 {
        display: flex;
        flex-direction: column-reverse;
    }
      
    .div-tbl {
        width: 100% !important;
    }

    .product-details.left .options, .x .options {
        left: 0px;
    }

    .product-details.right .options, .x .options {
        right: 15px;
    }

    .product-details.right .product-title {
/*        padding-left: 60px;*/
    }



    .carousel-indicators {
        bottom: 0;
        right: 10%;
        left: unset;
    }

    #header-holder.main-header .header-graphic {
        margin-bottom: 250px;
        margin-top: 30px;
        width: 60%;
    }

    .item .carousel-caption {
        text-align: center;
    }

    .ceo .quote {
        position: relative;
        transform: unset;
    }

    .ceo {
        margin-bottom: 0;
    }

    .products ul.nav {
        margin-top: 0;
    }

    .content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .product-details.right .content {
        padding: 0;
    }

    .product-details.left .content {
        padding: 0;
        margin-bottom: 50px;
    }

    .product-details.right .nylon-slider .slick-list {
        padding: 0 !important;
    }

    .product-details.left .slider .slick-list {
        padding: 0 !important;
    }

    .background-right {
        width: 100%;
        background: rgb(231, 228, 213);
    }

    .background-left {
        width: 100%;
        background: rgb(231, 228, 213);
    }

    /*.product-details .slick-slide img {
        width: 30%;
        padding: 20px;
    }*/

    .product-details.left .content {
        text-align: center;
    }

    .product-details.left .name, .x.left .name {
        text-align: left;
        margin: auto;
        width:auto;
    }

    .product-details.left .type {
        text-align: center;
    }

    .product-details.right .content {
        text-align: center;
    }

    .product-details.right .name, .x.right .name {
        text-align: left;
        margin: auto;
        width: auto;
    }

    .product-details.right .type {
        text-align: center;
    }

    .product-details .arrows, .x .arrows {
        width: 150px;
        margin: auto;
    }

    .product-details .slider .slick-slide {
        text-align:center;
    }

    .m-b-100 {
        margin-bottom: 30px !important;
    }
    img.arrow.animated-arrow {
        display: none;
    }

    .slide-size {
        text-align: center;
    }

    .one-img {
        float: unset !important;
        margin-right: unset !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .div-tbl {
        width: 100% !important;
    }
    .product-details.left .options, .x .options {
        left: 0px;
    }

    .product-details.right .options, .x .options {
        right: 15px;
    }

    .product-details.right .product-title {
/*        padding-left: 60px;*/
    }



    .carousel-indicators {
        bottom: 0;
    }

    #header-holder.main-header .header-graphic {
        margin-bottom: 0px;
        width: 80%;
    }

    .ceo .quote {
        position: relative;
    }

    .ceo {
        margin-bottom: 0;
    }

    .products ul.nav {
        margin-top: 0;
    }

    .background-right {
        width: 100%;
        background: rgb(231, 228, 213);
    }

    .background-left {
        width: 100%;
        background: rgb(231, 228, 213);
    }

    /*.product-details .slider img,
    .x .slider img {
        width: 250px !important;
    }*/
}

@media (min-width: 1201px) and (max-width: 1500px) {
    .product-details.left .options, .x .options {
        left: 0px;
    }

    .product-details.right .options, .x .options {
        right: 15px;
    }

    .product-details.right .product-title {
/*        padding-left: 60px;*/
    }


    .carousel-indicators {
        bottom: 0;
    }

    #header-holder.main-header .header-graphic {
        margin-bottom: 0px;
    }
}

@media (min-width: 1501px) {
    #header-holder.main-header .header-graphic {
        margin-bottom: 100px;
    }



    /*.product-details .slick-slide img {
        width: 50%;
    }*/
}
